@use 'nav';
@use 'hero';
@use 'intro';
@use 'trips';
@use 'insurance';
@use 'another-section';
@use 'reviews';
@use 'footer';
@use 'breakpoints';


*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: rgb(254,254,254);
    margin: 0;
}


.intro-and-trip {
    @include breakpoints.md {
        display: flex;
    }
    @include breakpoints.lg {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }
    .trip-options a:hover {
        color: red;
    }
}

